@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Open Sans", sans-serif; 
}
p,
span {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.025em;
 
  
}

body,
html {
  scroll-behavior: auto;
  scroll-padding-top: 55px;
  font-size: 1rem;
  
}

@layer components {
  .nav-item {
    @apply font-semibold text-[0.90rem] text-slate-600 hover:text-black transition-colors duration-300 ease-in-out;
  }
  .active {
    @apply bg-red-600;
  }

  .transition-300 {
    @apply transition-all duration-300 ease-in-out;
  }
}
